.table-cadastr{
  max-width: 460px;
  margin-left: 450px;
}
h1{
  margin-left: 450px;
}
.cadastr-button{
  margin-left: 450px;
}

.example-form {
  max-width: 300px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

